.u-section-1 {
  background-image: linear-gradient(#77aad9, #425465);
}

.u-section-1 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-1 .u-list-1 {
  margin-top: 65px;
  margin-bottom: 0;
  min-height: 251px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 15.75px);
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  grid-gap: 21px 21px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: linear-gradient(#478ac9, #425465);
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: linear-gradient(#478ac9, #425465);
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  font-weight: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  animation-duration: 1000ms;
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: linear-gradient(#478ac9, #425465);
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  animation-duration: 1000ms;
  font-weight: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  animation-duration: 1000ms;
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: linear-gradient(#478ac9, #425465);
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  animation-duration: 1000ms;
  font-weight: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  animation-duration: 1000ms;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 755px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-map-1 {
  width: 499px;
  height: 299px;
  margin: 40px 16px 0 -5px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-1 .u-text-10 {
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px -18px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 755px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  background-image: none;
  margin: 30px 102px 0 142px;
}

.u-section-1 .u-form-1 {
  width: 510px;
  margin: 4px 0 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-2 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-1 .u-list-1 {
    min-height: 207px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15.75px));
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-1 .u-map-1 {
    width: 410px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 92px;
    margin-right: 52px;
    width: 226px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 60px;
    min-height: 480px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10.5px);
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    grid-auto-rows: calc(50% - 10.5px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-map-1 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2193px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 15.75px);
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 513px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2323px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 810px;
  }

  .u-section-1 .u-map-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    width: 320px;
  }
}