<!-- Footer -->
<footer class="page-footer font-small unique-color-dark mt-0 pt-0" style="background-color: #0f0f0f;">

  <!-- Footer Links -->
  <div class="container text-md-left pt-0">

    <!-- Grid row -->
    <div class="row mt-0">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-light fw-light">

        <!-- Content -->
        <h6 class="text-uppercase text-light mb-0 pt-2">NPT</h6>
        <hr class="deep-purple accent-2 mb-1 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-light">

        <!-- Links -->
        <h6 class="text-uppercase mb-0 pt-2">Volg ons ook op</h6>
        <hr class="deep-purple accent-2 mb-1 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Instagram</a>
        </p>
        <p>
          <a href="#!">Facebook</a>
        </p>
        <p>
          <a href="#!">Twitter</a>
        </p>

      </div>

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-light">

        <!-- Links -->
        <h6 class="text-uppercase mb-0 pt-2">Contact</h6>
        <hr class="deep-purple accent-2 mb-1 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Oostzeedijk Beneden 31 Rotterdam </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> nptrotterdam@gmail.com </p>
        <p>
          <i class="fas fa-phone-alt mr-3"></i> +31 6 00 00 00 00</p>
        <p>
          <i class="fas fa-mail-bulk mr-3"></i><a href="/contact#email"> Stuur ons een email </a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: rgb(60, 63, 56);">© Website mogelijk mede gemaakt door
    <a href="https://www.djangoproject.com/"> Django </a> en 
    <a href="https://www.getbootstrap.com/"> Bootstrap </a> en
    <a href="https://www.nicepage.com/"> Nicepage </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->