<!-- Footer -->
<footer class="page-footer font-small unique-color-dark mt-0 pt-0" style="word-spacing: 2px">

  <!-- Footer Links -->
  <div class="container text-md-left pt-2">

    <!-- Grid row -->
    <div class="row mt-0">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4 text-light fw-light">

        <!-- Content -->
        <h6 class="text-uppercase mb-0 pt-2">OPENINGSTIJDEN</h6>
        <hr class="deep-purple accent-2 mb-1 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Bellen op afspraak. <br>
          Voor meer info klik <a href="/contact#info"> hier </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column 
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-light">

        <!-- Links 
        <h6 class="text-uppercase mb-0 pt-2">Volg ons ook op</h6>
        <hr class="deep-purple accent-2 mb-1 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://instagram.com/", class="newtab">Instagram</a>
        </p>
        <p>
          <a href="https://facebook.com/", class="newtab">Facebook</a>
        </p>
        <p>
          <a href="https://twitter.com/", class="newtab">Twitter</a>
        </p>

      </div> -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-light">

        <!-- Links -->
        <h6 class="text-uppercase mb-0 pt-2">Contact</h6>
        <hr class="deep-purple accent-2 mb-1 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Oostzeedijk Beneden 31 Rotterdam </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> nptrotterdam@gmail.com </p>
        <p>
          <i class="fas fa-phone-alt mr-3"></i> {{phone_number}}</p>
        <p>
          <i class="fas fa-mail-bulk mr-3"></i><a href="/contact#email"> Stuur ons een email </a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: rgb(200,200,200);">
    © Copyright NPT 2022. All Rights Reserved. <br>
    Deze website wordt mede mogelijk gemaakt door
    <a href="https://www.djangoproject.com/" class="newtab"> Django </a> en 
    <a href="https://www.getbootstrap.com/" class="newtab"> Bootstrap </a> en 
    <a href="https://bootstrapmade.com/" class="newtab"> BootstrapMade </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->