/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/


.about{
    background-color: white;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
  }
  
  /*.about .content {
    /*font-size: 14px;
    word-spacing: 3px
  }*/
  
  .about .content h3 {
    font-weight: 700;
    font-size: 28px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5cb2b8;
  }
  
  .about .content p:last-child {
    margin-bottom: 10;
  }

@media (max-width: 1024px){
  .about .rowc{
    margin-left: 0!important;
  }
}

  
  /* The whole container without the section title */
  /*.container-content{
    background-color: rgb(239, 242, 247);
    box-shadow: 0 0 5px #000000;
  }  uncomment when need to see the container
  */