/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info {
    /*border-top: 3px solid #55749c;
    border-bottom: 3px solid #55749c;*/
    border-top: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgb(158, 151, 151);
    margin: 0;
  }

  .contact .container {
    background-color: inherit;
  }

  .contact .info i {
    /*background: #55749c;*/
    background: var(--red);
    color: #fff;
    font-size: 25px;
    float: left;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }

  .contact .info .info-title {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222222;
  }

  .contact .info .info-body {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #555555;
  }

  .contact .info .social-links {
    padding-left: 60px;
  }

  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  /*.contact .info .social-links a:hover {
    background: #5cb874;
    color: #af346a;
  } is useless, didnt want to remove becuase it was in the template i downloaded*/

  /*.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #82928f;
    color: red;
  } activate when want to change colour on hover */

  .contact .email-form{
    margin-bottom: 50px;
  }

  .contact .php-email-form {
    width: 100%;
    /*border-top: 3px solid #55749c;
    border-bottom: 3px solid #55749c;*/
    border-top: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgb(158, 151, 151);
  }

  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }

  .contact .php-email-form .error-message {
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }

  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }

  .contact .php-email-form .sent-message {
    color: #fff;
    background: #178349;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }

  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }

  .contact .php-email-form input, .contact .php-email-form textarea {
    box-shadow: none;
    font-size: 14px;
    border-radius: 6px;
  }

  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #415f85;
  }

  .contact .php-email-form input {
    height: 35px;
  }

  .contact .php-email-form .form-control{
    color: black;
    font-family: sans-serif;
  }

  .contact .php-email-form textarea {
    padding: 10px 12px;
  }

  .contact .email-section-title{
    color: rgb(4, 5, 41);
    font-family: Raleway, sans-serif;
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
