/*h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}*/
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #da989873;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: var(--red2);
    float: right;
    margin-top: -12px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body { /* answer secton */
    font-size: 1.2rem;
}

.accordion-section .subscript{
    font-size: 0.7 rem;
    word-spacing: 2.5px;
}

@media (max-width: 600px) {
    .accordion-section .panel-default .panel-body { /* answer secton */
        font-size: 0.9rem;
    }
    .accordion-section .panel-default .panel-title a {
        font-size: 1.3rem;
    }
}